.row
  .col-md-10.col-md-offset-1
    %h1 About
    %h2 Our story
    %p.lead Loomio is an online tool for collaborative decision-making, built by a team of technologists, activists and social entrepreneurs in New Zealand.

.row
  .col-md-5.col-md-offset-1

    %p Loomio emerged from the need for a scalable way to make inclusive group decisions during the Occupy movement in 2011.

    %p We experienced the transformative potential of collaborative decision-making, as well as its severe limitations: if people have to be in the same place at the same time to participate, it can never scale.

    %p We set out to build a solution to this problem: using the Internet to give people an easy way to make good decisions together, wherever they are.

    %p It’s called Loomio, like a loom for weaving diverse perspectives together :)

    %p Now more than 75,000 people have made more than 25,000 decisions on Loomio.

  .col-md-4
    <iframe width="290px" height="163px" src="https://www.youtube.com/embed/wSj81OxhdBg" frameborder="0" allowfullscreen></iframe>


.row
  .col-md-10.col-md-offset-1
    %p &nbsp;
    %hr
    %p &nbsp;
    %h2 Mission
    %p.lead We’re a mission-driven organization with a social purpose at our core: Loomio exists to make it easy for anyone, anywhere, to participate in decisions that affect their lives.

    %p We measure our impact in the numbers and diversity of people and groups involved in decisions AND the inspiring stories from people using it to do great things in their communities.

.row
  .col-md-10.col-md-offset-1
    %p &nbsp;
    %hr
    %p &nbsp;
    %h2 Advisors

    %p.lead We’re backed by an Advisory Council with some of the brightest minds in democracy and tech internationally.
    %p &nbsp;

.row
  .col-md-5.col-md-offset-1
    .media
      .pull-left
        .media-object
          = image_tag "round-joi.png", width: '100px'
      .media-body
        %h3.media-heading Joi Ito
        %p Director of MIT Media Lab, Co-founder Creative Commons, Board of Mozilla Foundation

    .media
      .pull-left
        .media-object
          = image_tag "round-katherine.png", width: '100px'
      .media-body
        %h3.media-heading Katherine Borsecnik
        %p Former Senior Vice President, AOL, Vice Chair of Root Capital

    .media
      .pull-left
        .media-object
          = image_tag "round-sascha.png", width: '100px'
      .media-body
        %h3.media-heading Sascha Meinrath
        %p Founder of X-Lab & Open Technology Institute at New America Foundation

  .col-md-5
    .media
      .pull-left
        .media-object
          = image_tag "round-rushkoff.png", width: '100px'
      .media-body
        %h3.media-heading Douglas Rushkoff
        %p Bestselling Author, CNN commentator, media theorist

    .media
      .pull-left
        .media-object
          = image_tag "round-monahans.png", width: '100px'
      .media-body
        %h3.media-heading Matthew & Brian Monahan
        %p Cofounders of Inflection, Namaste Foundation


.row
  .col-md-10.col-md-offset-1
    %p &nbsp;
    %hr
    %p &nbsp;
    %h2 Team
    %p.lead Loomio is a cooperative social enterprise based in New Zealand. We’re a passionate team with deep expertise in group process and open technology development.

.row
  .col-md-10.col-md-offset-1
    %p &nbsp;
    %hr
    %p &nbsp;
    %h2 Press
    %ul
      %li
        %strong New Yorker:
        = link_to "In Spain: Politics via Reddit", "http://www.newyorker.com/tech/elements/spain-politics-via-reddit"
      %li
        %strong Tech President:
        = link_to "Can social software change the world? Loomio just might", "http://techpresident.com/news/wegov/23517/can-social-software-change-world-loomio-just-might"
      %li
        %strong Globe and Mail:
        = link_to "Digital innovation propels political success story in Spain", "http://www.theglobeandmail.com/news/world/digital-innovation-propels-political-success-story-in-spain/article23542220/"
      %li
        %strong GigaOm:
        = link_to "Meet Loomio, the small- scale decision-making platform with the biggest ambitions", "https://gigaom.com/2014/03/13/meet-loomio-the-small-scale-decision-making-platform-with-the-biggest-ambitions/"
      %li
        %strong Wired:
        = link_to "Out in the open: Occupy Wall Street reincarnated as open source software", "http://www.wired.com/2014/04/loomio/"
      %li
        %strong RT America:
        = link_to "Protesters – there's a fantastic new app for you – Loomio", "https://youtu.be/R_DZY9bnh_U?t=23"
      %li
        %strong Fast Company:
        = link_to "Loomio – An App That Helps Groups Make Actual Group Decisions", "http://www.fastcoexist.com/3029132/fund-this/an-occupy-inspired-app-that-helps-groups-make-actual-group-decisions"
      %li
        %strong BoingBoing:
        = link_to "Democratic decision-making tool inspired by Occupy", "http://boingboing.net/2014/03/19/loomio-democratic-decision-ma.html"
      %li
        %strong VICE:
        = link_to "The Future of Protest According to VICE", "http://www.vice.com/read/the-future-of-protest-looks-a-lot-like-the-past"
      %li
        %strong Shareable:
        = link_to "The Occupy-inspired app for consensus decision-making", "http://www.shareable.net/blog/loomio-the-occupy-inspired-app-for-consensus-decision-making"
      %li
        %strong Greenpeace Mobilisation Lab:
        = link_to "Can an app help movements grow by scaling higher level grassroots engagement?", "http://www.mobilisationlab.org/can-an-app-help-movements-grow-by-scaling-higher-level-grassroots-engagement/"

